.App {
  text-align: center;
}
h2.welcome {
  text-align: center;
}
h3.welcome {
  text-align: center;
}
div.prof_pic {
  text-align: center;
  width: "300px"
}
.rounded-circle {
  border-radius: 50%!important;
  }
.be_well {
  text-align: center;
}
div.word_wrap {
  word-wrap: break-word;
}